ul {
  list-style: disc !important;
  list-style-position: inside;
}

h1, h2, h3, h4, h5, h6 {
  font-size: revert;
  margin: 10px 0 !important;
}

pre {
  margin: 10px 0 !important;
}

p {
  margin: 10px 0;
}

.main-nav {
  border-radius: .25em;
  a.button {
    background-color: $royal-purple-highlight;
    .home-icon {
      font-size: 1.25em;
    }
  }
}