div.project-section,
div.project-viewer {
  display: flex;
  flex-direction: column;
  .control-panel {
    flex-direction: row;
    div.panel-block {
      span.control-element {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.header-highlight {
  color: $cyan-highlight;
}
button.button.header-highlight-button {
  background-color: $cyan-highlight;
}